@import 'app.scss';

.content {
  text-align: center;

}


.effects {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}


.effect_button {
  &_controls {
    display: flex;
    gap: 20px;
    justify-content: center;

    button {
      width: 50%;
    }
  }
}